@model Person


<div class="col-lg-3 col-md-12" style="padding-top: 2%;">
    <div class="card  ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src=@Model.PortraitImage class="img-fluid" />
            <a asp-page="./Details" asp-route-personId="@Model.ID">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>

        <div class="card-body">
            <h5 class="card-title">@Model.FullName</h5>
            <p class="card-text">
                @* TODO: *@
                MOST COMMON PROFESSIONS
                Latest Film:
                @* @Model.MostCommonProfessions *@
            </p>


        </div>
    </div>
</div>